body{
    background-color: green;
}
table{
    width: 100%;
    border: 2px solid black;
    border-collapse:collapse ;
}
center{
    width: 40%;
    border: 2px solid black;
    border-collapse:collapse ;
    margin-left: 300px;
    background-color:pink;
}
button{
    background-color: aqua;
}
